# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions


.gradle/
build/
app/build/
*.apk
local.properties

android-sdk/.gradle/
android-sdk/app/build/
# Allow the committed release APK in public/downloads
!public/downloads/*.apk

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# Android build output
/android-sdk/app/build/
/android-sdk/build/
/android-sdk/.gradle/
/android-sdk/local.properties   # if you ever generate it locally

# Gradle wrapper caches (optional)
.gradle/

# IDE files
.idea/
*.iml

# Misc
*.log
